*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Conteudo
/* 5. Elementos
/* 6. Newsletter
/* 7. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
:root {
	--ff-primary:"Nunito", Helvetica, Arial, sans-serif;

	--clr-green-dark:#049A40;
	--clr-green-light:#0BF96A;
	--clr-pink-dark:#E10BF9;
	--clr-pink-light:#F3A0FD;
	--clr-white:#F5F5F5;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-white);
	font-family: var(--ff-primary);
}

a,
a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
	color: black;

}

hr {
	border: none;
	background-color:var(--clr-pink-dark) ;
	height: 2px;
	width: 140px;
	margin: 20px auto;
}

p {
	line-height: 21.82px;
	padding: 0 10px;
}

.section_titulo {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}

img {
	display: block;
	max-width: 100%;
}

/**********************************/
/* 2. Menu
/**********************************/
.menu-bg {	
	background-image: linear-gradient(to bottom, yellow, red);
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.menu_logo {
	margin: 10px;
}

.nav_list {
	display: flex;
	flex-wrap: wrap;
}

.nav_link {
	padding: 20px 10px;
}

/**********************************/
/* 3. Header
/**********************************/

.intro {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
	margin-bottom: 40px;
}


/**********************************/
/* 4. Conteudo
/**********************************/

.conteudos {
	max-width: 960px;
	margin: 0 auto;	
}

.conteudos-c {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.conteudos-c_texto {
	flex: 6 1 160px;
}

.conteudos-c_img {
	flex:1 1 350px;
}


/**********************************/
/* 5. Elementos
/**********************************/

.elementos {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.elementos-c {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.elemento {
	width: 200px;
	margin: 0  20px;
	border-bottom: 2px solid var(--clr-green-light);
	border-top: 2px solid var(--clr-green-light);
	border-radius: 10px;
	margin-top: 10px;
	padding-top: 25px;
}

.elemento_titulo {
	font-size: 1.5rem;
	text-align: center;
	margin: 10px 0 5px 0;
	font-weight: bold;
}

.data {
	text-align: center;
	color: red;
	margin-left: 10px;
	margin-bottom: 15px;
	align-items: center;
}

.contador{
	font-weight: bold;
	align-items: center;
}

/**********************************/
/* 6. Newsletter
/**********************************/
.newsletter {
	background-color: var(--clr-green-light);

}

.newsletter-c {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info{
	padding-left: 10px;
	flex: 1 1 260px;
}

.newsletter-info_titulo {
	font-size: 2.62rem;
	font-weight: bold;
}

.newsletter-info_descricao {
	font-style: italic;
}

.newsletter-form{
	flex: 2 1 260px;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form_input {
	font-size: 1.25rem;
	width: 325px;
	color: black;
	font-style: italic;
	font-family: var(--ff-primary);
	border: 10px solid var(--clr-pink-dark);
	padding: 10px;
	margin: 0;
	border-radius: 0px;
	flex: 3 1 260px;
}

.newsletter-form_submit{
	width: 192px;
	font-family: var(--ff-primary);
	font-size: 2.25rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--clr-pink-dark);
	color: black;
	cursor: pointer;
	border: none;
	padding: 15px;
	flex: 1 1 260px;
}
/**********************************/
/* 7. Footer
/**********************************/

.footer {
	background-color: var(--clr-pink-light);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 55px calc((100% - 960px) / 2);
}

.footer_copyright, .footer_logo{
	padding-left: 10px;
	padding-right: 10px;
}

